{% extends 'users/base.html'%}
{% block title %} Post | Social Net{% endblock %}

{% block content %}
<div class="row justify-content-center mb-5">
	<div class="col-lg-6 col-md-9 mb-4">
		<div class="post-container mt-4">
			<div class="post-header">
				<div class="post-user-image">
					<img width="40" height="40" style="object-fit:cover;" class="rounded-circle account-img" src="{{post.author.profile.image.url}}"
							alt="">
				</div>
				<div class="post-author">
					<a href="/{{post.author}}"><h6>{{post.author}}</h6></a>
				</div>
				<div>
					{% if post.author == user %}
					<a href="/post/{{post.id}}/edit" class="btn btn-secondary btn-sm">Edit</a>
					<a href="#" onclick="handleDelete(this)" class="btn btn-danger btn-sm">Delete</a>
					{% endif %}
				</div>
			</div>
			<div class="post-image">
				<img src="{{post.image.url}}" alt="">
			</div>
			<div class="post-caption">
				<p>{{post.caption}}</p>
				<small class="text-muted" style="font-size:x-small;">
					{{post.date_posted| date:"l N d, Y"}}
				</small>
			</div>
		</div>
	</div>
</div>

<script>
	const deleteUrl = `/post/{{post.id}}/delete`

	function handleDelete(event){
		const choice = confirm('Do you want to Delete this Post?')
		if(choice) 
			window.location.href = deleteUrl
	}
</script>

{% endblock %}